#main-navbar {
    background-color: blue;    
    position: relative;
    overflow: hidden;
    width: 100%;
}

#navbar-container {
    position: relative;
    display: block;
    left: 50%;
    float: left;
}

#navbar-container ul {
    position: relative;
    float: left;
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    right: 50%;
}

#navbar-container ul li {
    float: left;
    padding: 10px 20px;
}

#navbar-container ul li a {
    text-decoration: none;
    color: #fff;
}

#navbar-container #onpage {
    text-decoration: underline overline;
}

#sidebar {
    position: fixed;
    background-color: red;
    right: 0%;
    height: 100%;
    width: 20%;
}

#sidebar-container {
    text-align: center;
    display: block;
}

#sidebar-container ul {
    list-style-type: none;
    padding: 0;
}

#sidebar-container ul li {
    padding: 15px 0; 
}

#sidebar-container ul li a {
    text-decoration: none;
    color: #fff;
}